:root {
    --blue: rgb(58, 123, 253);
    --white: rgb(255, 255, 255);
    --black: rgb(0, 0, 0);
    --purple: rgb(192, 88, 243);
    --bright-green: rgb(87, 221, 255);
    --dark-them: rgb(22, 23, 34);
    --dark-bg: rgb(37, 39, 60);
    --dark-text: rgb(77, 80, 102);
    --gray: rgb(210, 211, 219);
    --gray-bg: rgba(250, 250, 250, 0.316);
    --navy-blue: rgb(72, 75, 106);
    --bright-blue: rgb(58, 123, 253);
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .container {
    max-width: 480px;
    margin: 0 auto;
}

.flex-between {
    display: flex;
    justify-content: space-between;
  }
  
  .flex-start {
     display: flex;
     justify-content: flex-start;
     align-items: flex-start;
     gap: 10px;
  }
  
  .align-item-center {
      align-items: center;
  }
  
  .flex-grow-1 {
      flex-grow: 1;
  }

.font-family {
    font-family: "Josefin Sans", sans-serif;
  }

.body-bg {
   background-color: var(--gray-bg);
  }


.button-base {
    border: none;
    background-color: transparent;
    font-weight: bold;
}

.cursor-pointer {
    cursor: pointer;
}

.bg-white {
    background-color: var(--white);
}

.text-gray {
    color: var(--gray);
}

.dark-theme {
    background-color: var(--dark-them);
}

.dark-theme .bg-img {
    background-image: url(./images/bg-desktop-dark.jpg);
}

.dark-theme .bttn-bg {
  background-image: url(images/icon-sun.svg);
}

.dark-theme .hover-text-color:hover {
    color: var(--white);
}

.dark-mode {
    background-color: var(--dark-bg);
}

.dark-mode .dark-text {
    color: var(--dark-text);
}

.task-list {
    padding: 20px 0 10px 38px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.333);
    position: relative;
}

.task-list::before {
    content: "";
    position: absolute;
    bottom: 20px;
    right: 100%;
    left: 2px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border-style: solid;
    border-color: var(--gray);
    background-color: var(--white);
}

.dark-theme .task-list::before {
    background-color: var(--dark-bg);
    border-color: var(--dark-text);
   }

   .dark-mode .task-list .task-content {
    color: var(--white);
}


.completed {
    text-decoration: line-through;
    color: var(--gray);
  }

  .dark-mode .completed {
    color: var(--dark-text);
  }

  .completed .task-content {
    color: var(--gray);
  }

  .dark-mode .completed .task-content {
    color: var(--dark-text);
  }
  
  .completed::before {
      content: "";  
       position: absolute;
       left: 2px;
       right: 10%;
       width: 25px;
       height: 25px;
       border-radius: 50%;
       border: none;
       background: linear-gradient(135deg, var(--bright-green) 0, var(--purple));
   }
  
   .completed::after {
      content: '';
      position: absolute;
      border-color: var(--white);
      border-style: solid;
      border-width: 0 2px 2px 0;
      top: 25px;
      left: 10px;
      transform: rotate(45deg);
      height: 13px;
      width: 6px;
    }

.task-content {
    color: var(--black);
    font-size: 18px;
}

.bi-pencil, .bi-x  {
    color: var(--white);
}

.dark-mode .bi {
    color: var(--dark-bg);
}

.task-list:hover .bi{
   color: var(--gray);
}

.dark-mode .task-list:hover .bi{
   color: var(--dark-text);
}

.hover-text-color {
    transition: color 1.2s;
}

.hover-text-color:hover {
    color: var(--navy-blue);
}

  .overflow-y-auto {
    overflow-y: auto;
    height: 300px;
  }

.bg-img {
    background-image: url(./images/bg-desktop-light.jpg);
    background-size: cover;
    height: 340px;
    background-repeat: no-repeat;
}


.header {
    padding-top: 80px;
}

.heading {
    font-size: 36px;
    font-weight: bold;
    color: var(--white);
    letter-spacing: 20px;
}

.bttn-bg {
   background-image: url(images/icon-moon.svg);
   width: 90px;
   height: 80px;
   background-repeat: no-repeat;
   background-position: 60px 15px;
}

.form {
    padding: 16px 40px 16px 20px;
    margin: 25px 0 15px;
    border-radius: 10px;
}

.bi {
    padding-right: 5px;
    font-size: 20px;
}

.add-task-bttn {
    font-size: 18px;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 0 10px;
    font-size: 16px;
}

.tasks-wrapper {
    border-radius: 5px;
    padding-bottom: 15px;
}

.active {
    color: var(--blue);
}

.dark-mode .active {
    color: var(--bright-blue);
}

.uncompleted-items {
    padding-right: 5px;
}