:root {
    --blue: rgb(58, 123, 253);
    --white: rgb(255, 255, 255);
    --black: rgb(0, 0, 0);
    --dark-them: rgb(22, 23, 34);
    --dark-bg: rgb(37, 39, 60);
    --dark-text: rgb(77, 80, 102);
    --gray: rgb(210, 211, 219);
    --gray-bg: rgba(250, 250, 250, 0.316);
    --navy-blue: rgb(72, 75, 106);
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .container {
    max-width: 480px;
    margin: 0 auto;
}

.flex-between {
    display: flex;
    justify-content: space-between;
  }
  
  .flex-start {
     display: flex;
     justify-content: flex-start;
     align-items: flex-start;
     gap: 10px;
  }
  
  .align-item-center {
      align-items: center;
  }
  
  .flex-grow-1 {
      flex-grow: 1;
  }

.font-family {
    font-family: "Josefin Sans", sans-serif;
  }

.body-bg {
   background-color: var(--gray-bg);
  }


.button-base {
    border: none;
    background-color: transparent;
    font-weight: bold;
}

.cursor-pointer {
    cursor: pointer;
}

.bg-white {
    background-color: var(--white);
}

.text-gray {
    color: var(--gray);
}

.dark-theme {
    background-color: var(--dark-them);
}

.dark-theme .bg-img {
    background-image: url(./images/bg-desktop-dark.jpg);
}

.dark-theme .bttn-bg {
  background-image: url(images/icon-sun.svg);
}

.dark-theme .hover-text-color:hover {
    color: var(--white);
}

.bg-dark {
    background-color: var(--dark-bg);
}

.dark-text {
    color: var(--dark-text);
}

.task-list {
    padding: 20px 0;
    border-bottom: 2px solid rgba(128, 128, 128, 0.333);
}

.task-content {
    color: var(--black);
    font-size: 18px;
}

.bi-pencil, .bi-x {
    color: var(--white);
}

.task-list:hover .bi-pencil, 
.task-list:hover .bi-x{
   color: var(--gray);
}

.completed {
  text-decoration: line-through;
  color: var(--gray);
}

.hover-text-color {
    transition: color 1.2s;
}

.hover-text-color:hover {
    color: var(--navy-blue);
}

  .overflow-y-auto {
    overflow-y: auto;
    height: 300px;
  }

.bg-img {
    background-image: url(./images/bg-desktop-light.jpg);
    background-size: cover;
    height: 340px;
    background-repeat: no-repeat;
}


.header {
    padding-top: 80px;
}

.heading {
    font-size: 36px;
    font-weight: bold;
    color: var(--white);
    letter-spacing: 20px;
}

.bttn-bg {
   background-image: url(images/icon-moon.svg);
   width: 90px;
   height: 80px;
   background-repeat: no-repeat;
   background-position: 60px 15px;
}

.form {
    padding: 16px 40px 16px 20px;
    margin: 25px 0 15px;
    border-radius: 10px;
}

.bi {
    padding-right: 5px;
    font-size: 20px;
}

.add-task-bttn {
    font-size: 18px;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 15px 10px;
}

.tasks-wrapper {
    border-radius: 5px;
    padding-bottom: 15px;
}

.active {
    color: var(--blue);
}

